<div>
  <div>
    <%= form_with html: {class: "space-y-4"} do |f| %>
      <div data-controller="select" data-select-url-value="<%= states_addresses_path %>" data-select-param-value="country">
        <div class="flex flex-col gap-1">
          <%= f.label :country %>
          <%= f.select :country, @countries.invert,{prompt: '--Country--'},{data: {action: 'change->select#onchange'}} %>
        </div>
        <div class="flex flex-col gap-1">
          <%= f.label :state %>
          <%= f.select :state,[], {prompt: '--State--'},{id: nil,data: {select_target: 'stateSelect'}} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

